@import '../../../../variables';

.input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-labelText {
    font-family: $ff-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    color: $fc-dark;
}

.input-asterisk {
    color: $fc-red;
}

.input-input {
    min-height: 38px;
    padding: 8px 15px;

    font-family: $ff-regular;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    color: $fc-dark;

    background: $bgc-light;
    border: $border-grey;
    border-radius: 4px;

    &:focus {
        outline: $border-grey;
    }

    &_error {
        border: $border-red;
    }
}

.input-error {
    min-height: 14px;

    font-family: $ff-regular;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.14;
    color: $fc-red;
}
