@import "../../variables";

.headerNav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerNav-list {
    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: $bp-medium) {
        display: none;
    }
}

.headerNav-button {
    margin-left: 30px;
}
