.headerNav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerNav-list {
    display: flex;
    align-items: center;
    gap: 20px;
}

.headerNav-button {
    margin-left: 30px;
}
