@import '../../variables';

.promoSlider {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.promoSlider-sliderWindow {
    overflow-x: hidden;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    width: max-content;
    min-width: 100%;
    max-width: 380px;
}

.promoSlider-sliderWindow_expanded {
    width: 960px;
    max-width: 86vw;
}

.promoSlider-sliderWindow_mobile {
    width: 160px;
}

.promoSlider-sliderWindow_mobileExpanded {
    width: 350px;
    max-width: 86vw;
}

.promoSlider-arrowLeft {
    position: absolute;
    top: 50%;
    left: -30px;
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transform: translateY(-150%);

    display: flex;
    align-items: center;

    cursor: pointer;

    &_disabled {
        cursor: auto;
        & svg path {
            fill: darken($bgc-light, 75%)
        }
    }
}

.promoSlider-arrowRight {
    position: absolute;
    top: 50%;
    right: -30px;
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
    transform: translateY(-150%);

    display: flex;
    align-items: center;

    cursor: pointer;

    &_disabled {
        cursor: auto;
        & svg path {
            fill: darken($bgc-light, 75%)
        }
    }
}

.promoSlider-pagination {
    justify-self: center;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    min-height: 12px;
}

.promoSlider-paginationItem {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    cursor: pointer;
}

.promoSlider-innerWrapper {
    display: flex;
    align-items: center;
}

.promoSlider-slide {
    flex-shrink: 1;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    & img {
        object-fit: contain;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        width: min-content;
        max-height: 280px;
        height: auto;

        cursor: pointer;
    }
}

.promoSlider-slide_expanded {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

    & img {
        object-fit: contain;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;

        width: min-content;
        max-height: 70vh;
        height: auto;

        cursor: auto;
    }
}
