@import '../../../variables';

.nav-item {
    font-family: $ff-regular;
    font-weight: $fw-title;
    font-size: 16px;
    line-height: 1.19;
    white-space: nowrap;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    text-align: right;
    color: $fc-light;
    cursor: pointer;

    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;

    &:hover {
        color: darken($fc-light, 30%);
    }
}
