@import "variables";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: $ff-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $ff-title;
}

p {
    margin: 0;
    font-family: $ff-regular;
}

img {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#root {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    scroll-behavior: smooth;

    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: $header-height;
    max-width: 100%;

    background-color: $bgc-dark;
}

.main-container {
    max-width: 100%;
}

.content-container {
    max-width: 100%;
    margin: 0 auto;
    min-height: 70vh;
    padding-bottom: 260px;
}

.footer-container {
    height: 220px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding-top: 60px;

    background-color: $bgc-dark;
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: $max-content-width;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $page-padding;
    padding-right: $page-padding;

}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-logo {
    width: 185px;
    flex: 0 0 auto;
}

.content {
    margin-top: $header-height;
    padding: 60px 0;

    color: $fc-dark;
}

.content-textBlock {
    &:not(&:last-child) {
        margin-bottom: 30px;
    }
}

.content-title {
    font-family: $ff-title;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.31;
}

.content-subtitle {
    margin-bottom: 10px;

    font-family: $ff-regular;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
}

.content-text {
    font-family: $ff-regular;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;

    &:not(&:last-child) {
        margin-bottom: 20px;
    }
}

.contactUs-promo {
    position: relative;
    width: 100%;
    height: 400px;

    background-image: url("../public/assets/bg/contact-us-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $bgc-dark;
        opacity: 0.75;
    }
}
