@import "variables";

body {
    margin: 0;

    font-family: $ff-regular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: $ff-title;
}

p {
    margin: 0;
    font-family: $ff-regular;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#root {
    position: relative;

    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

    height: $header-height;
    max-width: 100%;

    background-color: $bgc-dark;

    //todo: delete
    border: 1px solid lightsalmon;
}

.main-container {
    max-width: 100%;
    margin: 0 auto;

    //todo: delete
    min-height: 78vh;
    border: 1px solid lightsalmon;
    background: $bgc-light;
}

.footer-container {
    height: 220px;
    max-width: 100%;

    background-color: $bgc-dark;

    //todo: delete
    border: 1px solid lightsalmon;
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 960px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $page-padding;
    padding-right: $page-padding;

    //todo: delete
    border-left: 1px solid darkred;
    border-right: 1px solid darkred;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.header-logo {
    width: 185px;
    flex: 0 0 auto;
}

.footer {
    display: flex;
    align-items: center;
    gap: 40px;
}
