$header-height: 10vh;
$footer-height: 22vh;
$page-padding: 20px;

$ff-title: 'Roboto Slab', 'Times New Roman', serif;
$ff-regular: 'Roboto', 'Arial', sans-serif;

$fw-title: 700;
$fw-regular: 300;

$fc-dark: #090909;
$fc-light: #ffffff;
$fc-orange: #f75300;
$fc-red: #ff0000;
$fc-shaded-grey: #f6f6f6;

$bgc-dark: #090909;
$bgc-light-grey: #f8f8f8;
$bgc-light: #ffffff;
$bgc-orange: #f75300;
$bgc-orange-hovered: #c54301;

$border-grey: 1px solid #cecece;
$border-red: 1px solid #ff0000;;

$max-content-width: 960px;
