@import '../../variables';

.notFound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: $header-height 0 50px;
    min-height: 60vh;
}

.notFound-bigLetters {
    margin-bottom: 20px;

    font-family: $ff-title;
    font-style: normal;
    font-weight: 900;
    font-size: 280px;
    line-height: 1;
    color: $fc-shaded-grey;
}

.notFound-title {
    margin-bottom: 12px;

    font-family: $ff-title;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1;
    text-align: center;
    color: $fc-orange;
}

.notFound-clarification {
    margin-bottom: 24px;

    font-family: $ff-regular;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 1;

    text-align: center;
    color: $fc-dark;
}

.notFound-link {
    display: block;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 2.62;
    text-transform: uppercase;
    color: $fc-orange;
}
